<!DOCTYPE html >
<html ng-app='myApp'>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="app.services.js"></script>
    <script src="app.controllers.js"></script>
    <script src="module.js"></script>

</head>

<body>

<div class="container" ng-controller="TodoListCtrl as ctrl">

    <div class="page-header">
        <h1>Need To Do!</h1>

        <p>simple introduction level angular project</p>
    </div>

    <form class="form-inline">

        <div class="form-group">
            <label for="taskTitle">Task Title</label>
            <input type="text" class="form-control" id="taskTitle" placeholder="title..." ng-model="ctrl.title">
        </div>

        <div class="form-group">
            <label for="taskDesc">Description</label>
            <input class="form-control" id="taskDesc" placeholder="description.." ng-model="ctrl.description">
        </div>

        <div class="form-group">
            <button class="form-control btn btn-default" ng-click="ctrl.add()">Add</button>
        </div>
    </form>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>done</th>
            <th>title</th>
            <th>description</th>
        </tr>
        </thead>
        <tbody>

            <tr ng-repeat="key in ctrl.list" ng-class="{'done':key.done}">
                <td><input class="input" type="checkbox" ng-model="key.done" ng-class="{'done':key.done}"/></td>
                <td>{{key.title}}</td>
                <td>{{key.description}}</td>
            </tr>
        </tbody>
    </table>

</div>

</body>

</html>